<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman Game</title>
  </head>
  <body>
    <h1>Hangman Game</h1>
    <p>{{words}}</p>
    <p id="gameover">Game Over</p>
    <a href="./">Try Again</a>
  </body>
</html>
